{{template "main" .}}

{{define "title"}}This section is under development{{end}}

{{define "content"}}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-5">
                            <h2>API for<u class="ml-2">Hosts</u></h2>
                        </div>
                        <div class="col-12 results">
                            <div class="pt-4 border-bottom">
                            <p class="d-block h4">Method "GET"</p>
                            <h5>Вывод всех хостов по всем средам:</h5>
                            <a class="page-url pl-1" href="/hosts" target="_blank">/hosts</a>
                            </div>

                            <div class="pt-4 border-bottom">
                            <h5>Вывод всех хостов по определенной среде, на примере prd:</h5>
                            <p>Допустимы следующие среды: prd, ppr, edu, qa2, qa, dev2, dev</p>
                            <a class="page-url pl-1" href="/hosts/prd" target="_blank">/hosts/prd</a>
                            </div>

                            <div class="pt-4 border-bottom">
                            <h5>Фильтрация запросов производится через /filter</h5>
                            <p>Допустимы следующие наборы параметров:
                            tag, component, service, application, role,
                            как с одним значением, так и с несколькими указанными через запятую без пробелов.</p>
                            <h5>Фильтрация по одному параметру.</h5>
                            <p>Выведет все хосты в среде prd только c тегом db2:</p>
                            <a class="page-url pl-1" href="/hosts/prd/filter?tag=db2" target="_blank">
                                /hosts/prd/filter?tag=db2
                            </a>
                            </div>

                            <div class="pt-4 border-bottom">
                            <h5>Фильтрация по нескольким параметрам.</h5>
                            <p>Выведет все хосты в среде prd только c тегом db2 и компонентом haproxy:</p>
                            <a class="page-url pl-1" href="/hosts/prd/filter?tag=db2&component=haproxy" target="_blank">
                                /hosts/prd/filter?tag=db2&component=haproxy
                            </a>
                            </div>

                            <div class="pt-4 border-bottom">
                            <h5>Фильтрация по нескольким параметрам и нескольким значениям.</h5>
                            <p>Выведет все хосты в среде prd только c тегом db2, компонентами haproxy и app:</p>
                            <a class="page-url pl-1" href="/hosts/prd/filter?tag=db2&component=haproxy,app" target="_blank">
                                /hosts/prd/filter?tag=db2&component=haproxy,app
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}