{{template "main" .}}
{{define "title"}}Vars of Groups{{end}}
{{define "content"}}
<div class="content-wrapper">  
    <div class="dashboard-header d-flex flex-column grid-margin">
        <div class="d-flex align-items-center justify-content-between flex-wrap border-bottom pb-3 mb-3">
            <div class="d-flex align-items-center">
                <h3 class="mb-0 font-weight-bold">
                    <a href="/groups"><i class="mdi mdi-keyboard-backspace text-primary icon-sm"></i></a> 
                    Vars of Groups
                </h3>
                <div class="d-none d-md-flex" style="padding: 5px 0px 0px 20px;">
                    <a class="text-muted mb-0 tx-13 cursor-pointer" href="/">Overviwew</a>
                    <i class="mdi mdi-chevron-right text-muted"></i>
                    <a class="text-muted mb-0 tx-13 cursor-pointer" href="/groups">Inventory Groups</a>
                </div>
            </div>
            <div class="button-wrapper d-flex align-items-center mt-md-3 mt-xl-0"></div>
        </div>
    </div>

    {{with .Notice}}
        <div class="alert alert-success notice" role="alert">{{.}}</div>
    {{end}}

    <div class="row">
        {{$role := .AuthenticatedUser.UserRole}}
        {{ if or (eq $role "1") (eq $role "2") (eq $role "3")}}
        <div class="col-12 grid-margin">
            <div class="card" style="border: 0;">
                <div class="card-body">
                    <h4 class="card-title">Add new Var</h4>
                    <form class="forms-sample" action="/groups/vars" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <p class="card-description">before adding a variable you must first check its existence</p>
                    <div class="row">
                        <div data-repeater-list="group-a">
                            <div data-repeater-item="" class="d-flex mb-2">
                                <div class="form-group col-md-6 mr-sm-2 mb-sm-0">
                                    <select class="form-control" name="type" id="type">
                                        <option value="" disabled selected>Select type</option>
                                        <option value="application">application</option>
                                        <option value="component">component</option>
                                        <option value="role">role</option>
                                        <option value="service">service</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-10 mr-sm-2 mb-sm-0">
                                    <input type="text" class="form-control" name="value" id="value" value="{{.Form.Get "value"}}" placeholder="Value">
                                    {{with .Form.Errors.Get "value"}}
                                        <small class="text-danger">{{.}}</small>
                                    {{end}}
                                </div>
                                <div class="form-group col-md-10 mr-sm-2 mb-sm-0">
                                <button type="submit" class="btn btn-primary btn-sm mr-3 d-none d-md-block text-white col-md-3">
                                    <i class="mdi mdi-pencil-plus icon-sm"></i> Add Var
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {{end}}

        <div class="col-md-12 col-xl-12 grid-margin stretch-card">
            <div class="card" style="border: 0;">
                <div class="card-body">
                    <h4 class="card-title">Vars</h4>
                    <p class="card-description">vars of groups</p>
                    <div class="table-sorter-wrapper col-lg-12 table-responsive">  
                        {{if .InventoryGVars}}
                        <table id="sortTable" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead class="thead-light">
                                <tr>
                                    <th class="sortStyle" style="width:180px">Name<i class="mdi mdi-chevron-down"></i></th>
                                    <th class="sortStyle">Value<i class="mdi mdi-chevron-down"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .InventoryGVars}}
                                <tr>
                                    <td>{{.Name}}</td>
                                    <td><a href="/group/var/{{.ID}}">{{.Value}}</a></td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                        {{else}}
                            <p>There's nothing to see here... yet!</p>
                        {{end}}
                    </div>
                </div>
            </div> 
        </div>  
    </div> 
</div>
{{end}}